h3{
	font-size: 20px;
	font-family: helvetica;
	text-align: center;
	margin-top: 50px;
}

h1{
	font-family: helvetica;
	text-align: center;
	margin-top: 50px;
}

#projects{
	text-align: center;
}

#exercises{
	text-align: center;
}