h3{
	font-size: 20px;
	font-family: helvetica;
	text-align: center;
	margin-top: 50px;
}

h1{
	font-family: helvetica;
	text-align: center;
	margin-top: 50px;
}

#projects{
	text-align: center;
}

#exercises{
	text-align: center;
}

 a{
	color:black;
	font-family: helvetica;
	text-decoration: none;
	
}



#square{
	
	position: absolute; 
	top:20%; 
	left:40%;
	width: 260px;
	height: 450px;
	border: solid blue 2pt;

	z-index: 1
}

}